{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    "syntax-class-properties",
    "syntax-decorators",
    "syntax-object-rest-spread",

    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-object-rest-spread"
  ]
}